// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Playfair+Display&display=swap');

// body {
//   font-family: 'Noto Serif JP', serif;
//   font-family: 'Playfair Display', serif;
// }

.note__reaction {
  padding: 5px 0;
  margin: 5px 20px 5px 0;
  min-width: 40px;
}

.image__outline {
  border-radius: 12px;
  overflow: hidden;
}
